[Unit]
Description=Si-Gnal Player
After=network.target si-gnal-server.service

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/ws/si-gnal/bin
# Update GPIO pin number according to your hardware setup
ExecStart=/home/admin/ws/si-gnal/bin/player -gpio GPIO26
Restart=on-failure

[Install]
WantedBy=multi-user.target
